body {
/*    font-family: 'Lato', sans-serif;  */
    font-family: 'Nunito Sans', sans-serif;   
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-logo {
    background-image: url(../images/logo.svg);
    display: block;
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    gap: 46.6px;
    padding-left: 0;
    margin-left: -98px;
}
.header-nav a {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
   color: #FFC725; 
}
.header-nav a::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
    background-color: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
    gap: 9.78px;
    cursor: pointer;
}
.button-text {
    font-size: 15px;
    font-weight: 700;
    color: #443737;
}
.button-item {
    position: relative;
}
.button-count {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: -5px;
    bottom: 3px;
    border-radius:100%;
    background-color: #F37335;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
}
.bg {
    text-align: center;
    color: #FFF;
    padding: 142px;
    margin-bottom: 139px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
}
.breadcrambs {
    padding-left: 4px;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrambs a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #DEDEDE;
    text-decoration: none;  
}
.breadcrambs a:hover {
    color: #FFC725;
}
.breadcrambs a::before {
    content: "/";
    position: relative;
    left: -6px;
    pointer-events: none;
}
.breadcrambs a:hover::before {
    color: #DEDEDE;
}
.breadcrambs li:first-child a::before {
    display: none;
}
.title {
    font-size: 79px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 19px;
}
.description {
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #FAF9F9;
    margin: 0 auto;
}

/* BANNER  */
.banner-box {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 99px 100px;
}
.banner-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.banner-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 28px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-color: #F37335;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.banner-text {
    width: 325px;
    margin-top: 7px;
    margin-left: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #faf9f9;
}
.banner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 58px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #FBB731;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
}

/* MENU  */
.menu {
    margin-top: 100px;
    margin-bottom: 72px;
}
.menu-header, .additionaly-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.menu-title, .additionaly-title {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #1B2A49;
}
.menu-select {
    flex-basis: 279px;
    border-radius: 22px;
    padding: 13px 30px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #443737;
    appearance: none;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 12.788px 7.749px;
    background-position: 90% center;
}
.menu-grid, .additionaly-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menu-grid-item, .additionaly-grid-item {
    text-align: center;
    margin-bottom: 30px;
}
.menu-grid-cover, .additionaly-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img, .additionaly-grid-cover img {
    width: 100%;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    object-fit: cover;
}
.menu-grid-title, .additionaly-grid-title {
    font-size: 30px;
    font-weight: 600;
    color: #1B2A49;
    margin-top: 23px;
    margin-bottom: -15px;
}
.menu-grid-price, .additionaly-grid-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}
.menu-grid-btn, .additionaly-grid-btn {
    width: 152px;
    height: 38px;
    margin: 0 auto;
    padding-left: 29px;
    border-radius: 5px;
    border: none;
    background-color: #FBB731;
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.menu-grid-icon, .additionaly-grid-icon {
    width: 18px;
    height: 18px;
    background-image: url(../images/cart-menu.svg);
    background-repeat: no-repeat;
}
.menu-grid-text, .additionaly-grid-text {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #1E2F40;
}